.puzzle {
  .puzzle__grid {
    display: grid;
    gap: 0.5rem;
    background-color: darken(#2c2a30, 5);
    border: 0.5rem solid darken(#2c2a30, 5);
    margin-bottom: 2rem;

    aspect-ratio: 1;
    max-width: 500px;

    & > * {
      font-size: 1rem;
    }
  }
}
