@use "../../styles/variables.scss" as *;

.puzzle {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    max-width: 550px;
    width: 100%;
  }

  .puzzle__grid {
    display: grid;
    gap: 1px;
    background-color: $foreground-color;
    border: 0.5rem solid $foreground-color;
    border-radius: $standard-border-radius;
  }
}
