@use "../../styles/variables.scss" as *;

.puzzle {
  .puzzle__grid {
    display: grid;
    gap: 0.5rem;
    background-color: $foreground-color;
    border: 0.5rem solid $foreground-color;
    margin-bottom: 2rem;

    aspect-ratio: 1;
    max-width: 500px;

    & > * {
      font-size: 1rem;
    }
  }
}
