@use "./variables" as *;

// here we use rem for font-size
// rem is relative to the :root element in the dom (html tag)
// conversely em is relative to the parent's font-size

* {
  font-family: "Bitter", serif;
  font-size: 1rem;
}

h1,
h2,
h3,
p {
  // adding display and width prevents margin collapse on our text elements
  margin: 0.5rem 0;
  display: inline-block;
  width: 100%;
}

h1,
button {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.25rem;
}
