// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$text-color: #f5f5f5;
$background-color: #2c2a30;
$foreground-color: darken(#2c2a30, 5);
