@use "../../styles/variables" as *;

.layout {
  min-height: 100vh;
  width: 100vw;
  background-color: $background-color;
  display: flex;
  justify-content: center;

  > .layout__main {
    padding: 1rem;
    max-width: $tablet-breakpoint;
    width: 100%;
  }
}
