@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.tile-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background-color: $foreground-color;

  &--highlighted {
    background-color: $success-green;

    @include tick-overlay;
  }
}
